@use "./variables" as *;
@use "./mixin" as *;

.header {
  width: calc(
    100% - 40px
  ); 
  max-width: 1980px;
  margin: 20px auto 30px; 
  background-color: $color-surface;
  border-radius: 16px;
  border-bottom: 1px solid $color-border;
  box-sizing: border-box;
  position: relative;
  padding: 20px;

  &__inner {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__logo {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: $color-primary;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    margin: 8px auto 0;
    border-radius: 12px;

    &__logo {
      font-size: 20px;
      font-weight: 650;
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    margin: 8px auto 0;

    &__logo {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 325px) {
    &__inner {
      display: flex;
      justify-content: center; 
      align-items: center;
    }
  }
}
